{
    "presets": [
        "env",
        "react",
        "stage-1"
    ],
    "plugins": [<% if(antd) { %>
        [
            "import",
            {
                "libraryName": "antd",
                "style": true
            }
        ],<% } %>
        "transform-runtime",
        "transform-decorators-legacy"
    ],
    "env": {
        "development": {
            "plugins": [
                "dva-hmr"
            ]
        }
    }
}