{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        "transform-runtime",
        "transform-decorators-legacy"
    ],
    "env": {
        "development": {
            "plugins": [
                "dva-hmr"
            ]
        }
    }
}